<% content_for :left do %>
	<%= render :partial => 'people/user_types' %>
<% end %>

<div id="users">
	<%= render :partial => "people/user_list", :locals => { :people => @teacher_assistants }  %>
</div>

<br />

<%#= link_to 'New Teacher Assistant', new_teacher_assistant_path %>

