<% content_for :left do %>
	<%= render :partial => 'people/user_types' %>
<% end %>

<div id="users">
	<%= render :partial => "people/user_list", :locals => { :people => @teachers }  %>
</div>

<br />

<%#= link_to 'New Teacher', new_teacher_path %>
