
<div class="span-14">
 
  <div id='assignment_list'>
    <% unless @assignments.blank? %>
      <h2>My Assignments</h2>    
      <table id='assignments' class='master'>
        <thead>
          <tr>
            <th>Assignment</th>
            <th>Type</th>
            <th>Due Date</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => @assignments %>
        </tbody>
      </table>
      <% will_paginate @assignments %>
    <% end %>
    
    <% unless @all_assignments.blank? %>
      <h2>All Assignments</h2>
      <table id='assignments' class='master'>
        <thead>
          <tr>
            <th>Assignment</th>
            <th>Type</th>
            <th>Due Date</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => @all_assignments %>
        </tbody>
      </table>   
      
      <% will_paginate @all_assignments %>
    <% end %>
       
  </div>

  
</div>

