<table>
  <thead>
    <tr>    
      <th>ID</th>
      <th>LastName, Firstname</th>
      <th>Email</th>      
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <%= render 'people/person_row', :person => person  %>
    <% end %>
  </tbody>
</table>

<span class="paginate">
  <%= will_paginate people %>
</span>