<tr class="<%= cycle('odd', 'even') %>" >
  <td><%= link_to person.fullname_last, person %></td>

  <%= content_tag :td, person.email %>
  <td>
    <% unless person.roles.blank? %>
      <% person.roles.each do |role| %>
        <%= role.class.name %>
      <% end %>
    <% else %>
      No Roles Assigned
    <% end %>
  </td>
</tr>