<% content_for :left do %>
  <%= render :partial => 'settings/settings_list' %>
<% end %>

<%= error_messages_for "import", 
  :header_message => "The following records did not pass validation:",
  :message => 'Please correct these problems and try again' %>

<div class='box span-13 prepend-5 last'>
  <% form_for :import, :url => { :action => :create }, :html => { :multipart => true } do |f| -%>
    <div class='label'>Import <strong>Student</strong> data using this format:<br />
      <span class='example'>("First Name", "Middle Name", "Last Name", "Generation", "Gender", "Date of Birth", "Email Address", "Phone Number", "Secondary Phone Number")</span></div>
    <input type='hidden' name='import_type' value='students' />
    <%= f.file_field :file -%>

    <%= submit_tag 'Import', :class => 'btn standard',
      :confirm => "This will import new Person\ninformation into the system.\n\nClick OK to continue." -%>
  <% end -%>
</div>

<div class='spacer'>&nbsp;</div>

