
<h2><%= @teacher.full_name %></h2>
<p>Schedule to teach the following courses:</p>
<% @teacher.course_terms.each do |co| %>
  <h3><%= link_to co.code, co %> <small>(<%= co.term.name %>)</small></h3>
  <% if co.enrollments.empty? %>  
    <p class="error">No enrolled students</p>  
  <% else %>
    <%= render :partial => 'users/enrollments/roster', :locals => { :enrollments => co.enrollments } %>
  <% end %>  
  
<% end %>
