
<% if !current_user %>
  <span><%= link_to "Sign in ", sign_in_path %></span>
<% else %>
  <span><%= current_user.full_name %></span> | 
  <span><%= link_to 'News', posts_path %></span> |
  <span><%= link_to "Sign out", sign_out_path, :method => :delete %></span>
<% end %>
