<h2>Listing All Administrator</h2>
<p><%= link_to "Add Administrator", new_administrator_path %></p>
<div id="people">
  <%= render 'people/person_list_paginate', :people => @administrators %>
</div>  


