<% title "#{@student.full_name} > Schedule", false %>

<div class="title">
  <h2>Schedule for <%= @student.full_name %></h2>
</div>

<%= render :partial => 'schedule', :locals => { :student => @student, :enrollments => @enrollments } %>