<% content_for :subnav do %>
  <%= nav_link :students %>
  <%= nav_link :teachers %>
  <%= nav_link :administrators %>
<% end %>

<h2>New Student</h2>
<%= render :partial => 'people/form', :locals => {:person => @student} %>