<% content_for :left do %>
	<%= render :partial => 'users/user_types' %>
<% end %>

<div id="users">
	<%= render :partial => "users/user_list", :locals => { :users => @administrators }  %>
</div>

<br />

<%#= link_to 'New Administrator', new_administrator_path %>
